<div class="container"> 
	<h1>Create a new listing</h1>

	<div class="row">
		<div class="col-md-6 col-md-offset-3"></div>
		<%= form_for @listing do |f| %>
			<%= f.hidden_field :user_id, :value => current_user.id %>

				<%= f.label :avatar, "Listing Picture" %>
				<%= f.file_field :avatar, class: 'form-control', multiple: true %>

			  <%= f.label :title %>:
			  <%= f.text_field :title, class: 'form-control' %>

			  <%= f.label :content %>:
			  <%= f.text_area :content, class: 'form-control' %>

			  <%= f.label :guest %>:
			  <%= f.text_area :guest, class: 'form-control' %>

		  <%= f.submit "List", class: 'btn btn-warning' %>

	  <% end %>

  </div>
</div>


