<!DOCTYPE html>
<html>
<title>PairBnb</title>
<head>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render partial: "layouts/navbar" %>
  <div class="container">

    
    <div id="header">
      <% if signed_in? %>
        <%= button_to t(".sign_out"), sign_out_path, method: 'delete' %>
      <% else -%>
        <%= link_to t(".sign_in"), sign_in_path %>
      <% end -%>
    </div>

    <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%= value %></div>
      <% end %>
    </div>
    <%= yield %>
  </div>
</body>
</html>

